@import '../../style.scss';

.Categoriesbar{

    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
    &::-webkit-scrollbar{
        width: 0px;
    }

    span{
        margin-right: 1rem;
        padding: 0.2rem 0.5rem;
        white-space: nowrap;
        border: 1px solid $border-color;
        border-radius: 8px;
        font-weight: 500;
        font-size: 0.99rem;
        background-color:$border-color;
        text-transform: capitalize;
        
        // height: 32px;
        // min-width: 12px;
        // max-width: 20rem;
    
    &:hover{
        background-color: #484949;
    }
    }
    .active{
        background-color: $text-color;
        color: $black-secondary;
    }

}